/* TODO side margins, hero text wrapping, organize */

:root {
    font-size: 15px;
    font-family: Georgia, serif;
    --background-color: black;
    --font-color: #F4EFE4
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
    font-weight: normal;
    font-size: 3rem;
    line-height: 3rem;
}

p {
    text-wrap: pretty;
}

a:link, 
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
}

canvas {
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li {
    margin: auto 5%
}

.greeting {
    font-size: 4rem;
    line-height: 4rem;
    max-width: 20%;
    letter-spacing: 0.17rem;
    color: transparent;
    background: linear-gradient(315deg, var(--font-color) 65%, #cead6a 100%);
    background-clip: text;
    padding-bottom: 0.3rem;

}

@media screen and (min-width: 10000px) {
    .greeting {
        max-width: fit-content;
    }
}
