pre {
  --syntax-bg: light-dark(#fff, hsl(197, 100%, 3.5%));
  --syntax-text: light-dark(#322529, #F2F3F8);
  --syntax-comment: light-dark(#536579, #9BB8CD);
  --syntax-keyword: light-dark(#C4246E, #ABABFE);
  --syntax-string: light-dark(#CA2C1D, #00DF6F);
  --syntax-number: light-dark(#00837D, #00D5CC);
  --syntax-function: light-dark(#00695C, #25A8B7);
  --syntax-type: light-dark(#00856F, #00CFF0);
  --syntax-variable: light-dark(#00695C, #25A8B7);
  --syntax-property: light-dark(#00695C, #6E93E6);
  --syntax-punctuation: light-dark(#322529, #F2F3F8);
  --syntax-mark: light-dark(#fff4bf, #3a3420);
  --syntax-line-number: light-dark(#B7B3B4, #F2F3F8);
  
  background: var(--syntax-bg);
  color: var(--syntax-text);

  code {
    color: inherit;
  }

  mark {
    display: block;
    background: var(--syntax-mark);
    color: inherit;
  }

  .giallo-l {
    display: inline-block;
    min-height: 1lh;
    width: 100%;
  }

  .giallo-ln {
    display: inline-block;
    min-width: 3ch;
    margin-right: .4em;
    padding-right: .4em;
    color: var(--syntax-line-number);
    text-align: right;
    user-select: none;
  }

  .z-comment {
    color: var(--syntax-comment);
    font-style: italic;
  }

  .z-keyword,
  .z-storage,
  .z-modifier {
    color: var(--syntax-keyword);
  }

  .z-string {
    color: var(--syntax-string);
  }

  .z-constant,
  .z-numeric,
  .z-boolean {
    color: var(--syntax-number);
  }

  .z-entity.z-name.z-function,
  .z-entity.z-name,
  .z-support.z-function {
    color: var(--syntax-function);
  }

  .z-entity.z-name.z-type,
  .z-entity.z-name.z-class,
  .z-support.z-type,
  .z-support.z-class {
    color: var(--syntax-type);
  }

  .z-variable,
  .z-parameter {
    color: var(--syntax-variable);
  }

  .z-property-name,
  .z-support.z-property-name {
    color: var(--syntax-property);
  }

  .z-punctuation,
  .z-operator {
    color: var(--syntax-punctuation);
  }

  .z-punctuation.z-definition.z-string {
    color: var(--syntax-string);
  }
}
