{% extends "base.html" %}

{% block content %}
<section class="container page-head">
  <a class="text-link back-link" href="/">Back home</a>
  <h1 class="article-title">{{ section.title }}</h1>
  {% if section.taxonomies.tags %}
    <div class="tags">
      {% for tag in section.taxonomies.tags %}
        <a class="tag" href="{{ get_taxonomy_url(kind='tags', name=tag) | replace(from=config.base_url, to='') }}">{{ tag }}</a>
      {% endfor %}
    </div>
  {% endif %}
</section>

<section class="container">
  <ul class="row-list">
    {% for post in section.pages %}
      {% include "partials/post-row.html" %}
    {% endfor %}
  </ul>
</section>
{% endblock content %}
